.body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.title {
    display: flex;
    justify-content: center;
    background-color: #814bf4;
    color: white;
    padding: 7px;

}
.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #9ff3d3;
    padding: 10px;
    border-radius: 5px;
}