.body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.title {
    display: flex;
    justify-content: center;
    background-color: #814bf4;
    color: white;
    padding: 7px;
}
img {
    background-color: #814bf4;
    display: block;
    margin: 20px auto;
    width: 150px;
    border-radius: 5px;
    border: 2px solid #36046c;
    box-shadow: 0 2px 5px rgba(0,0,0,0.9);
    background: linear-gradient(135deg, #36046c, #6a1b9a, #9c27b0);
    padding: 6px;
}
.nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #9ff3d3;
    padding: 10px;
    border-radius: 5px;
}