body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #d9eafa;
    margin: 20px;
}

.title {
    display: flex;
    background-color: #6823fd;
    color: white;
    border-radius: 5px;
    padding: 5px;
    transition: transform 0.5s ease;
}
title:hover {
    transform: scale(1.02);
}

img {
    background-color: #814bf4;
    display: block; 
    margin: 20px auto;
    width: 150px;
    max-width: 35%;
    border-radius: 5px;
    border: 2px solid #36046c;
    box-shadow: 0 2px 5px rgba(0,0,0,0.9);
    background: linear-gradient(135deg, #36046c, #6a1b9a, #9c27b0);
    padding: 6px;
    transition: transform 0.5s ease;
}
img:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 10px rgba(0,0,0,0.9);
}
nav {
    display: flex;
    justify-content: space-evenly;
    background-color: #cceff2;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #36046c;
    transition: transform 0.5s ease;
}
nav:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.xp1 {
    background-color: #c5b1ef;
    border-radius: 5px;
}
.xp2 {
    background-color: #a8d8ff;
    border-radius: 5px;
}
.xp3 {
    background-color: #f9c5d1;
    border-radius: 5px;
} 

.section {
    background-color: #f0f0f0;
    padding: 20px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 8px rgba(0,0,0,0.1);
    transition: transform 0.5s ease;
}
section:hover {
    transform: scale(1.02);
    box-shadow: 0 10px 15px rgba(0,0,0,0.2);
}

.footer {
    background-color: #814bf4;
    color: white;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    margin-top: 15px;
}

html {
    scroll-behavior: smooth; /* desplazamiento suave */
}

.section {
    scroll-margin-top: 120px; /* ajusta según la altura del header */
}

@media (max-width: 768px) {
    .nav {
        flex-direction: column; /* menú vertical en móviles */
        align-items: center;
    }

    img {
        width: 120px; /* imagen más pequeña en móviles */
    }

    .section {
        margin: 10px;
        padding: 15px;
    }
}
