.element {
    width: 200px;
    height: 200px;
    background-color: black;
    color: white;
    opacity: 0; /* invisible al inicio */
    transition: opacity 2s ease-in-out, background-color 1s ease-in-out;
}

.element:hover {
    opacity: 1; /* aparece suavemente */
    background-color: rgb(12, 239, 141); /* cambia el color de fondo */
}

